<!DOCTYPE html>
<html lang="en">
    <head>
        <title>flask implementation</title>
        <style>
            body {
                background-color: black;
                color: white
            }
            h1 {
                color:blue
            }
        </style>
    </head>
    <body>
        <h1>Welcome to my website!!</h1>
        <h2>Welcome to changes made by someone else!</h2>       
        {% if number == 1 %}
            <h3>Your coin flip is HEADS</h3> 
        {% else %}
            <h3>Your coin flip is TAILS</h3>
        {% endif %}

        <form action="/hello">
            <input type="text" name="name" id="name">
            <input type="submit" value="name">
        </form>
    </body>
</html>
